INFURA_MAINNET=https://mainnet.infura.io/v3/<API_KEY_HERE>
INFURA_SEPOLIA=https://sepolia.infura.io/v3/<API_KEY_HERE>
INFURA_MAINNET_WEBSOCKET=wss://mainnet.infura.io/ws/v3/<API_KEY_HERE>
INFURA_SEPOLIA_WEBSOCKET=wss://sepolia.infura.io/ws/v3/<API_KEY_HERE>

DB_HOST=mariadb
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=mydatabase